:root {
  --accent1: #e2c991;
  --otheraccent: #2d2c7b;

  /*  #D68FD6  #04E762*/
}

.react-chatbot-kit-chat-container {
  height: 1000px !important;
  width: 100% !important;
  font-family: "Nunito" !important;
}

.react-chatbot-kit-chat-message-container {
  height: 800px !important;
  font-family: "Nunito" !important;
  font-size: 20px !important;

}

.react-chatbot-kit-chat-bot-message {
  width: 75% !important;
  background-color: var(--otheraccent) !important;
  font-size: 20px !important;

}
.react-chatbot-kit-chat-inner-container {
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 10px;
  box-shadow: 5px 15px 15px 5px rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

.react-chatbot-kit-chat-header {
  background-color: var(--accent1) !important;
  color: black !important;
  font-size: 25px !important;
  font-weight: normal !important;
  font-family: "Nunito" !important;
}

.react-chatbot-kit-chat-input {
  background-color: var(--accent1) !important;
  color: black !important;
  font-size: 25px !important;
  font-weight: normal !important;
}

.react-chatbot-kit-chat-btn-send {
  background-color: var(--otheraccent) !important;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right-color: var(--otheraccent) !important;

}

.react-chatbot-kit-user-chat-message {
  font-size: 25px !important;
  font-weight: normal !important;
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 10px;
  height: 10px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}