nav#navbar {
  background-color: rgba(90, 27, 199, 0.2);
  box-shadow:
    0 15px 40px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Nunito";
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hundredWidth {
  width: 100%;
}

.btn-primary {
  background-color: rgb(255, 119, 0);
  border-color: rgb(255, 119, 0);
}

.gold {
  background-color: rgb(255, 119, 0);
}

.goldtext {
  color: rgb(255, 119, 0);
}

.bluetext {
  color: dodgerblue;
}

.whitetext {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1050px) {
  /* For mobile phones: */
  [class*="breaks"] {
    width: 100%;
  }
  [class*="tab"] {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }
}

.dodgerblue {
  background-color: dodgerblue;
}

.black {
  color: black;
}
h2 {
  font-family: "Nunito";
  font-size: 5vw;
  border-radius: 30px;
  padding: 20px;
  color: rgb(255, 119, 0);
}
.shaded-gold {
  background-color: rgba(255, 215, 0, 0.3);
  padding: 10px;
}

h1 {
  color: rgb(255, 119, 0);
  font-size: 5vmin;
}

.horizontal-scrollable {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable {
  display: inline-block;
  float: none;
}

nav#footer {
  background-color: rgba(90, 27, 199, 0.5);
  height: 100px;
  box-shadow:
    0 15px 40px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Nunito";
  color: white;
}
body {
  font-family: "Nunito";
  color: white;
  width: 100%;
}

tr,
th,
td {
  border: 1px solid black;
  padding: 10px;
}

.main {
  background-image: url("./pages/img/hom.jpg");
  filter: brightness(80%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.joblist {
  background-image: url("./pages/img/joblist.jpg");
  filter: brightness(80%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a#navname {
  font-size: 2vw;

  color: rgb(255, 119, 0);
  font-family: "Nunito";
}
a#linkname {
  font-size: 1vw;
  color: white;
  font-family: "Nunito";
}
a {
  color: white;
  font-size: 2vw;
  font-family: "Nunito";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.newcenter {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.leftbottom {
  position: absolute;
  bottom: 8px;
  left: 16px;
  margin-right: 50%;
  font-size: 8vw;
}

.card-img-overlay {
  width: 100%;
  height: 70%;
}

div.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  background-clip: border-box;
  box-shadow:
    5px 15px 15px 5px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.centered {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containered {
  position: relative;
  text-align: center;
  width: 100%;
  height: 120vh;
  color: white;
  font-family: "Nunito";
}



.padd {
  padding: 20px;
}
.round {
  border-radius: 50px;
}

.glass {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.transparent {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  box-shadow:
    5px 15px 15px 5px rgba(0, 0, 0, 0),
    0 6px 20px 0 rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

.shaded {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.shadePurple {
  background-color: rgba(90, 27, 199, 0.3);
  padding: 10px;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(90, 27, 199, 0.5);
}
.shadeWhite {
  color: white;
}
.shadeWhite::-webkit-input-placeholder {
  color: white;
}

.darkened {
  filter: brightness(70%);
}

.border {
  border: 20px;
  border-radius: 20px;
}

.scroll {
  margin: 4px, 4px;
  padding: 20px;
  height: 820px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.standHeight {
  height: 850px;
}

.side {
  display: inline-block;
}

.containerAdd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.heightbutton {
  height: 10px;
}

.button {
  font-size: 2vw;
}

i {
  color: white;
}

.progresss {
  width: 25%;
}

.side {
  display: inline-block;
}
