nav#navbar {
  background-color: rgba(90, 27, 199, 0.2);
  height: 100px;
  box-shadow:
    0 15px 40px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Nunito";
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.gold {
  background-color: gold;
}

.goldtext {
  color: gold;
}

.bluetext {
  color: dodgerblue;
}

::-webkit-scrollbar {
  display: none;
}

.dodgerblue {
  background-color: dodgerblue;
}

.black {
  color: black;
}
h2 {
  font-family: "Nunito";
  font-size: 70px;
  border-radius: 30px;
  padding: 20px;
  color: gold;
}
.shaded-gold {
  background-color: rgba(255, 215, 0, 0.3);
  padding: 10px;
}

h1 {
  color: gold;
  font-size: 70px;
}

.horizontal-scrollable {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable {
  display: inline-block;
  float: none;
}

nav#footer {
  background-color: rgba(90, 27, 199, 0.5);
  height: 100px;
  box-shadow:
    0 15px 40px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Nunito";
  color: white;
}
body {
  font-family: "Nunito";
  color: white;
}

.main {
  background-image: url("./pages/img/hom.jpg");
  filter: brightness(80%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.joblist {
  background-image: url("./pages/img/joblist.jpg");
  filter: brightness(80%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a#navname {
  font-size: 30px;

  color: gold;
  font-family: "Nunito";
}
a#linkname {
  font-size: 17px;
  color: white;
  font-family: "Nunito";
}
a {
  color: white;
  font-family: "Nunito";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.leftbottom {
  position: absolute;
  bottom: 8px;
  left: 16px;
  margin-right: 50%;
  font-size: 150px;
}

div.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  background-clip: border-box;
  border-radius: 20px;
  box-shadow:
    5px 15px 15px 5px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.centered {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containered {
  position: relative;
  text-align: center;
  color: white;
  font-family: "Nunito";
}
.padded {
  padding: 450px;
}

.padd {
  padding: 20px;
}
.round {
  border-radius: 50px;
}

.shaded {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.shadeWhite {
  color: white;
}
.shadeWhite::-webkit-input-placeholder {
  color: white;
}

.darkened {
  filter: brightness(70%);
}

.border {
  border: 20px;
  border-radius: 20px;
}

.scroll {
  margin: 4px, 4px;
  padding: 20px;
  height: 680px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.standHeight {
  height: 850px;
}

.side {
  display: inline-block;
}

.containerAdd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

i {
  color: white;
}

.progresss {
  width: 25%;
}

.side {
  display: inline-block;
}
